.planet-name {
  color: greenyellow;
  text-align: center;
  font-size: large;
}

.planet-type{
  color: greenyellow;
  text-align: center;
  font-size: large;
}

.planet-container{
  display: flex;
  justify-content: center;
}

.planet-image{
  height: 50%;
  width: auto;
  border-radius: 50%;
  /* margin-left: 17%; */
}

/* .flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */